<div ng-controller="HeaderController as vm" class="openlmis-header" ng-class="{'is-offline':isOffline}" offline>
    <h1 class="title">{{'openlmisHeader.appHeader' | message}}</h1>
    <div class="openlmis-header-actions">
        <openlmis-app-cache></openlmis-app-cache>
        <div class="status-offline" ng-if="isOffline">
            <span class="offline-status-indicator">{{'openlmisHeader.youAreOffline' | message}}</span>
            <a ng-click="vm.checkConnection()">{{'openlmisHeader.checkConnection' | message}}</a>
        </div>
        <div ng-show="!!user">
            <ng-include src="'openlmis-header/user.html'"></ng-include>
        </div>
    </div>
</div>
